<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Deal Room</title>
</head>
<body>
  <h1>Deal Room</h1>
  <p><b>Address:</b> {{ address }}</p>
  <p><b>City:</b> {{ city }}, {{ state }}</p>
  <p><b>List Price:</b> {{ list_price }}</p>
  <p><b>ARV:</b> {{ arv }} | <b>Repairs:</b> {{ repairs }} | <b>MAO:</b> {{ mao }}</p>
  <p><b>Score:</b> {{ score }} | <b>Status:</b> {{ status }}</p>
  <hr/>
  <p><b>To claim this deal:</b> reply to the email blast or contact the wholesaler.</p>
</body>
</html>
